# ##########################################
#    CODEOWNERS - GuardSarm Server Modules
# ##########################################

# Engine Module
/src/engine/              @guardsarm/devel-xdrsiem-server-div3 @guardsarm/devel-xdrsiem-server-leaders
/docs/ref/modules/engine/ @guardsarm/devel-xdrsiem-server-div3 @guardsarm/devel-xdrsiem-server-leaders

# Indexer connector
/src/shared_modules/indexer_connector/ @guardsarm/devel-xdrsiem-server-div1 @guardsarm/devel-xdrsiem-server-div3 @guardsarm/devel-xdrsiem-server-leaders

# Framework and API

/framework/ @guardsarm/devel-xdrsiem-server-div2 @guardsarm/devel-xdrsiem-server-leaders
/api/ @guardsarm/devel-xdrsiem-server-div2 @guardsarm/devel-xdrsiem-server-leaders

# VD/IS
/src/guardsarm_modules/inventory_sync/          @guardsarm/devel-xdrsiem-server-div1 @guardsarm/devel-xdrsiem-server-leaders
/src/guardsarm_modules/vulnerability_scanner/   @guardsarm/devel-xdrsiem-server-div1 @guardsarm/devel-xdrsiem-server-leaders

# ##########################################
#           GuardSarm Agent Modules
# ##########################################

# Agent Modules

# ##########################################
#            Shared Modules
# ##########################################

# Shared Modules
